# generated-data/
### Java template
*.class
*.jar
*.war
*.ear
target/
build/
classes/
# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
### IntelliJ
.idea/
*.iml
out
gen
### Eclipse
.settings
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders
.project
*.launch
.classpath
### macOS template
*.DS_Store
# Thumbnails
._*
/src/test/resources/data/level/boundaries-level-2-json/
/src/test/resources/data/level/boundaries-level-3-json/
/src/test/resources/html/
/src/test/resources/data/level/temp*.zip
